<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Atelier Fine Arts</title>

	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="../styles/home.css">

	<!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="site-container">

		<div class="nav-container">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a href="#">Home</a>
				</li>

				<li class="nav-list-item">
					<a href="#">Gallery</a>
				</li>

				<li class="nav-list-item">
					<a href="#">Contact Artist</a>
				</li>

				<li class="nav-list-item">
					<a href="#">Artist Bio</a>
				</li>

			</ul>
		</div>

		<div class="left-col"></div>

		<div class="right-col">

			<div class="top-box">
				<p class="top-box-header">Find Me</p>

				<p class="top-box-content">Atelier Fine Arts can be seen at the Saturday Market located on 3rd Ave in Anchorage, AK</p>

				<img class="top-box-map" src="../images/market-location-map.png">
			</div>

			<div class="social-container">
				<div class="social-button social-button-facebook">Find me on Facebook</div>
				<div class="social-button social-button-instagram">View Art on Instagram</div>
			</div>
		</div>
	</div>




</body>
</html>