.site-header {
	width: 100%;
	box-sizing: border-box;
	background-color: #333;
	position: relative;
}

@media (min-width: 768px) {
	.site-header {
		height: 120px;
		padding: 10px;
		background-image: url(../images/paintbrush-banner.JPG);
		background-position: center;
		background-size: 100%;
		transition: 0.4s;
		/*background-position: -100px -100px;*/
	}
	
	.site-header:after {
		content: "\00a0";
		position: absolute;
		top: 0;
		right: 0;	
		left: 0;
		bottom: 0;
		background-color: rgba(10,10,10,0.8);
	}

	.site-header:hover {
		background-size: 102%;
	}


	.site-header__logo {
		position: absolute;
		width: 100px;
		z-index: 2;
	}

	.nav-item-container {
		margin: 0;
		padding: 0;
		float: right;
		position: absolute;
    	bottom: 0px;
    	right: 10px;
    	z-index: 2;
	}

	.nav-item__link {
		color: white;
		text-decoration: none;
	}

	.nav-item {
		padding: 3px 10px;
		text-transform: lowercase;
		font-size: 20px;
		list-style: none;
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid grey;
		border-bottom: 0;
		background-color: black;
		border-top-right-radius: 10px;
		transition: .5s;
		font-family: 'Architects Daughter', cursive;

	}

	.nav-item:hover {
		border: 1px solid white;
		border-bottom: 0;
		background-color: rgb(10,30,180);
	}


}