body {
	background-image: url(../images/mountain-landscape-background.jpg);
	background-size: cover;
	background-position: center;
}

.left-col {
	padding: 5px;
	box-sizing: border-box;
	position: relative;
	z-index: -1;
	margin-top: 10px;

	overflow: auto;
}

/*///////////////
** Gallery
///////////////*/

.gallery-container {
	width: 100%;
	height: auto;
	min-height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin-bottom: 100px;
}

.gallery-slide-wrap {
	width: 20%;
	height: auto;
	margin: auto; 
	flex-grow: 1;
}

.gallery-slide-img {
	height: initial;
	display: block;
}

.gallery-slide-wrap--middle {
	flex-grow: 2;
	width: 60%;
	position: relative;
}
.gallery-slide-img-name {
	position: absolute;
	top: 7px;
	right: -17px;
	/*right: 13px;*/
	padding: 5px 10px;
	padding: 1px 4px;
	border: 1px solid white;
	border-right: none;
	color: white;
	background-color: black;
}

.gallery-slide-img-name-triangle {
	position: absolute;
    /*top: 39px;*/
    top: 23px;
    right: -10px;
    /*right: -7px;*/
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid grey;
    border-bottom: 10px solid transparent;
    transform: rotate(45deg)
}


#gallery-slide-wrap1 {
	margin-right: 2%;
}

#gallery-slide-wrap3 {
	margin-left: 2%;
}

.gallery-slide-nav:hover {
	cursor: pointer;
}

.gallery-slide-nav {
    position: absolute;
	bottom: -13%;
	width: 37%;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    text-align: center;
    font-family: 'OpenSans';
    padding: 10px 5px;
    font-size: 14px;
}

.gallery-slide-nav--left {
	left: 2px;
}

.gallery-slide-nav--right {
	right: 2px;
}

.gallery-slide-count {
	position: absolute;
    bottom: -13%;
    right: 45%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 700;
}

.site-banner-container {
	margin-top: 50px;
	padding: 10px;
}

.site-banner-logo {
	width: 30%;
	margin: 0 35%;
}

.site-banner-text {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
	margin: 0;
}

.news-block {
	width: 100%;
	padding: 10px;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 25px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
}

.news-block-label {
	text-decoration: underline;
	margin: 0;
	text-align: center;

	font-family: 'Amatic SC', cursive;
	font-size: 32px;
}

.news-block-content {
	padding: 10px;
	margin: 0;

	box-sizing: border-box;
}

.facebook-icon {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 2px;
	top: 1px;
	display: inline-block;
	background-image: url('../images/facebook-icon.png');
	background-size: contain;
}

.instagram-icon {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 6px;
	top: 4px;
	display: inline-block;
	background-image: url('../images/instagram-icon.png');
	background-size: contain;
}

.top-box {
	width: 50%;
	margin-bottom: 15px;
	background-color: rgb(255, 204, 102);
	font-family: 'Amatic SC', cursive;
	padding: 10px;
	box-sizing: border-box;
}

.top-box-header {
	margin: 0;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	text-decoration: underline;
}

.top-box-content {
	font-family: 'Bilbo', cursive;
	font-size: 18px;
}

.top-box-map {
	width: 100%;
}

.social-container {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 10px;
	box-sizing: border-box;
}

.social-button {
	padding: 10px 10px 10px 30px;
	width: 80%;
	margin: 0 auto;
	border-radius: 7px;
	text-align: center;
	position: relative;
	transition: opacity 0.3s;
}

.social-button:hover {
	opacity: 0.9;
}

.social-button:active {
	opacity: 1;
}

.social-button-facebook {
	color: white;
	background-color: rgb(59, 89, 152);
	margin-bottom: 10px;
}

.social-button-instagram {
	color: white;
	background-color: rgb(182, 119, 33)
}

.main-content-wrap {
	display: inline-block;
	padding-bottom: 250px;
}




@media (min-width: 768px) {

	.site-banner-container {
		display: inline-block;
	}

	.site-banner-logo {
		width: 20%;
		margin: 0;
		float: left;
	}

	.site-banner-text {
		float: left;
  		margin-top: 30px;
	}


	.news-block-label {
		float: left;
		text-align: left;
		width: 20%;
	}

	.news-block-content {
		float: left;
		width: 80%;
	}

	/*/////////////////
		GALLERY
	/////////////////*/
	.gallery-container {
		min-height: 545px;
		margin-bottom: 20px;
		margin-top: 25px;
		border: 1px solid black;
		border-radius: 10px;
		padding: 10px;
		box-sizing: border-box;
	}

	.gallery-image-wrapper {
		overflow: hidden;
	}

	.gallery-slide-nav {
		top: -48px;
		bottom: initial;
	}

	.gallery-slide-count {
		right: 47%;
		bottom: 0;
		top: -42px;
	}

	.top-box {
		width: 100%;
	}
}

