body {
	margin: 0;
}

.left-col,
.right-col {
	float: left;
	width: 100%;
	height: auto;
	margin-top: 60px;
}

.center-col {
	width: 100%;
}

.nav-container {
	width: 100%;
	max-width: 960px;
	height: 40px;
	position: fixed;
	top: 0;
	background-color: grey;
	box-sizing: border-box;
}

.nav-hamburger {
	width: 40px;
	height: 100%;
	float: right;
	border-left: 1px solid white;
}

.nav-hamburger-line {
	width: 70%;
	height: 5px;
	margin: 0 auto;
	margin-top: 6px;
	background-color: white;
	display: block;
}

.nav-list {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: lightgrey;
	display: none;
	clear: both;
}

.nav-list-item {
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 5px 0 5px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid white;
	list-style: none;
}

.nav-list-item a {
	color: black;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

img {
	width: 100%;
}

@media (min-width: 768px) {

	body {
		margin: 7px;
	}

	.site-container {
		max-width: 960px;
		margin: 0 auto;
	}

	.left-col {
		width: 73%;
		margin-right: 2%;
	}

	.right-col {
		width: 25%;
	}

	.nav-container {
		height: auto;
		background-color: white;
	}

	.nav-list {
		display: block !important;
		background-color: white;
	}

	.nav-hamburger {
		display: none;
	}

	.nav-list-item {
		text-align: center;
		display: inline-block;
		width: 24.5%;
		padding: 0 25px;	
	}

	.nav-list-item a {
		transition: border 0.1s linear;
	}

	.nav-list-item a:hover {
		border-bottom: 1px solid grey; 
		cursor: pointer;
	}

	.nav-list-item a {
		font-size: 25px;
	}

}